# Credenciais e variáveis de ambiente
.env

# Dados brutos e processados (muito pesados para o repositório)
dados_brutos/
dados_processados/
data/

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.code-workspace

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb
