# Credenciais e variáveis de ambiente
.env
.env.*

# Dados brutos e processados
dados_brutos/
dados_processados/
data/

# Logs
*.log
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.code-workspace

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb
